* {
  box-sizing: border-box;
}
body {
  background-color: #18BC9C;
}
#container {
  max-width: 960px;
  margin: 0 auto;
  position: relative;
}
#user-info {
  position: relative;
  top: 20px;
  margin-top: 50px;
  margin: 0 auto;
  max-width: 450px;
}
#user-info .user {
  padding: 5px;
}
#game-board {
  position: relative;
  top: 50px;
  margin: 0 auto;
  max-width: 320px;
}
.square {
  width: 100px;
  height: 100px;
  display: inline-block;
  border: 1px solid black;
  border-radius: 5px;
  background-color: #ccc;
  box-sizing: border-box;
  padding: 5px;
  overflow: hidden;
}
img {
  width: 90px;
  height: 90px;
}

#winner {
  position: absolute;
  z-index: 1;
  top: 50px;
  left: 20px;
  max-width: 500px;
  text-align: center;
  color: yellow;
  margin-top: 20px;
}
#winner h1 {
  font-size: 60px;
  opacity: 1;
}

#buttons {
  text-align: center;
  max-width: 300px;
  margin: 0 auto;
  margin-top: 20px;
}

#game-stats {
  width: 250px;
  height: 200px;
  position: absolute;
  right: 400px;
  bottom: 100px;
  padding: 10px 27px;
  border: 1px solid #d3d3d3;
  border-radius: 5px;
  background-color: #FFEE65;
  line-height: 1.5em;
  font-size: 18px;
  text-align: left;
  opacity: 0.7;
}
#game-stats h1 {
  text-align: center;
}
